body {

background-image: url("BACKGROUND.png");
background-size: 1400px;

}

::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #968c8ca4; 
  }
   
  ::-webkit-scrollbar-thumb {
    background: rgba(99, 98, 98, 0.658); 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  .plate {

    background-image: url("GESTURE APP.png");
    background-size: 1250px;
    border-radius: 10px;
    width: 1250px;
    height: 550px;
    box-shadow: 10px 10px 5px 5px rgba(128, 128, 128, 0.404);
    float: center;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    padding-top: 10px;
    
    }

    .effect {
            
        animation: transitionIn 1.5s;
    
    }
    
    @keyframes transitionIn {
    
    from {
    
    opacity: 0;
    transform: rotateX(-10deg);
    
    }
    
    to {
    
        opacity: 1;
        transform: rotateX(0deg);
    
    }
    
    }


      .button {
        
        border-radius: 50px;
        background-color: darkgrey;
        font-size: 15px;
        padding: 10px;
        margin-left: 200px;
        border-color: rgba(255, 255, 255, 0);
        font-family: Nunito;
        font-weight: bold;
        margin-top: 5;
        transition: background-color 2s ease-out 100ms;
        transition: color 2s ease-out 100ms;
        color: black;
        
        }

        .button:hover {
        
            border-radius: 50px;
            font-size: 15px;
            padding: 10px;
            margin-left: 200px;
            margin-top: 5px;
            background-color: rgb(71, 71, 71);
            border-color: rgba(255, 255, 255, 0);
            font-family: Nunito;
            font-weight: bold;
            color: white;
            
            }

            #result {

                border: 2px solid rgba(53, 49, 52, 0.856);
                width: 350px;
                height: 300px;
                margin-left: 770px;
                position: relative;
                bottom: 375px;
        
              }

              .button2 {
        
                border-radius: 50px;
                background-color: darkgrey;
                font-size: 15px;
                padding: 10px;
                margin-left: 900px;
                border-color: rgba(255, 255, 255, 0);
                position: relative;
                bottom: 375px;
                font-family: Nunito;
                font-weight: bold;
                margin-top: 5;
                transition: background-color 2s ease-out 100ms;
                transition: color 2s ease-out 100ms;
                color: black;
                
                }
        
                .button2:hover {
                
                    border-radius: 50px;
                    font-size: 15px;
                    padding: 10px;
                    margin-left: 900px;
                    position: relative;
                     bottom: 375px;
                    margin-top: 5px;
                    background-color: rgb(71, 71, 71);
                    border-color: rgba(255, 255, 255, 0);
                    font-family: Nunito;
                    font-weight: bold;
                    color: white;
                    
                    }

                    #predection {

                      font-family: 'Montserrat', sans-serif;
                      margin-left: 550px;
                      position: relative;
                      bottom: 275px;

                    }
    